/* Default rules for all */

* {
  margin: 0;
  font-family: 'Open Sans';
  background-repeat: no-repeat;
}

:root{
  --main-text-color: #202020;

}

html{
  scroll-behavior: smooth;
}

.header, .footer, main{
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.header{
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DEDEDE;
}

.header .logo {
  display: flex;
  align-items: center;
}
.header .logo span {
  padding-left: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.header .menu {
  display: flex;
  flex-direction: row;
}

.header .menu ul {
  list-style: none;
  padding: 0;
}

.header .menu ul li {
  padding-right: 34px;
  color: #ACACAC;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 123%;

  cursor: pointer;
}
.header .menu ul li:last-child{
  padding-right: 0;
}

.header .menu ul li.current {
  color: #000000;
}

.footer {
  position: absolute;
  top: max(100%, calc(100vh - 75px));
  align-items: center;
  justify-content: space-between;

  height: 75px;
  border-top: 1px solid #DEDEDE;

  font-weight: 300;
  font-size: var(--header);
  line-height: 21px;
}

main {
  flex-direction: column;
}

.selected {
  color: black;
}

.default {
  color: #ACACAC;
}

.h1{
  font-weight: 600;
  font-size: var(--h1);
  line-height: 176%;
  color: var(--main-text-color);
}

.h0{
  font-weight: bold;
  font-size: var(--h0);
  line-height: 123%;
  color: var(--main-text-color);
}

.caption{
  font-weight: 300;
  font-size: var(--caption  );
  line-height: 176%;
  color: var(--main-text-color);
}

.text-align-left{
  text-align: left;
}
.text-align-center{
  text-align: center;
}
.text-align-right{
  text-align: right;
}

.align-self-left{
  align-self: flex-start;
}
.align-self-center{
  align-self: center;
}
.align-self-right{
  align-self: flex-end;
}

.padding-right-50px{
  padding-right: 50px;
}
.padding-right-25px{
  padding-right: 25px;
}

.margin-top-10px{
  margin-top:10px;
}
.margin-top-25px{
  margin-top:25px;
}
.margin-bottom-10px{
  margin-bottom:10px;
}

.box{
  display:block;
}

.picture{ 
  max-width: 390px;
  width: 100%;
  margin-top: 45px;
}

.link-icon{
  height: 30px;
}
.link-icon:hover > path{
  fill:#9B51E0;
}


.paragraph{
  margin-top: 45px;
  align-self: center;
  width: min(720px, 100%);
  font-weight: 300;
  font-size: var(--text);
  line-height: 176%;
  /* or 32px */
  
  text-align: center;
  
  color: #000000
}

.paragraph > a{
  text-decoration: underline;
  cursor: pointer;
}

.paragraph > a.link_in_text{
  text-decoration: underline;
  cursor: pointer;
  padding-left: min(54px, 10%);
}
.paragraph > a.link_in_text:first-child{
  padding-left: 0;
}

.grid{
  padding: 0;
  display: grid;
  align-self: flex-end;
  width: 100%;
  list-style: none;
}
.grid > li{
  overflow: hidden;
  padding-bottom: 75%;
  height: 0;
  position: relative;
  border-radius: 10px;
}
.grid > li > img{
  width:100%;
}
.grid > li > div{
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  height: calc(100% - 90px);
  padding: 45px 50px;
  flex-direction: column;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  transition-duration: 0.25s;
  color: white;
}
.grid > li:hover > div{
  opacity: 1;
}
.grid > li > div > span.title{
  font-weight: bold;
  font-size: var(--h2);
  line-height: 128.51%;
}
.grid > li > div > span.title > span{
  font-weight: 300;
  font-size: var(--header);
  line-height: 128.51%;
  position: relative;
  top: -15px;
  left: 10px;
}
.grid > li > div > span.descr{
  font-weight: 600;
  font-size: var(--header);
  line-height: 123%;
}

.to-top-button{
  width: 100%;
  font-weight: 350;
  font-size: var(--ind1);
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.25s;
  color: #666666;
  cursor: pointer;
}

.default{
  font-weight: 300;
  font-size: var(--header);
  line-height: 176%;
  /* or 32px */
  
  text-align: left;
  
  color: #000000
}

.blur{
  filter:blur(5px);
}
.main{
  position: relative;
}

.pop-up{
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  background: rgba(0,0,0,0.5);
}
.pop-up-container{
  position: absolute;
  align-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.pop-up-body{
  position: absolute;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
  padding: 35px 40px;
  background: #FFFFFF;
  border-radius: 20px;
  margin: 75px 0;
}
.no-scroll{
  overflow-x: hidden;
  overflow-y: hidden;
}
.scroll{
  overflow-y: scroll;
}
.visible{
  display:initial;
}
.hidden{
  display: none;
}
.close-icon{
  position: absolute;
  z-index: 999;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}
.close-icon path{
  fill: white;
  fill-opacity: 0.2;
  transition-duration: 0.15s;
}
.close-icon:hover path{
  fill-opacity: 0.7;
}

.pop-up-body > span.title{
  display: block;
  font-weight: bold;
  font-size: var(--h3);
  line-height: 123%;
  color: var(--main-text-color);
}
.pop-up-body > span.subtitle{
  display: block;
  font-weight: normal;
  font-size: var(--subhead);
  line-height: 123%;
  color: #666666;
  margin-top: 15px;
}


.bar{
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.bar::-webkit-scrollbar {
  display: none;
}
.output {
  background-size: contain;
  padding-top: 75%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top:15px;
}
.bar > ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 75px;
  margin-top: 15px;
}
.bar > ul > li{
  height: 100%;
  margin-right: 18px;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
}
.bar > ul > li.selected{
  border: 3px solid #7B61FF;
}
.bar > ul > li > img{
  height: 100%;
  border-radius: 5px;
}
.output > .arrow{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  transition-duration: 0.3s;
}
.output > .arrow:hover{
  opacity: 1;
}
.output > .right{
  right: 0;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0) 100%);
}
.output > .left > img{
  transform: rotate(90deg);
}
.output > .right > img{
  transform: rotate(-90deg);
}
.output > .left{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0) 100%);
  left: 0;
}

.pop-up-body > div.info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 25px;
}
.pop-up-body > div.info > div{
  margin-right: 67px;
}
.pop-up-body > div.info > div > span{
  display:block;
  font-weight: normal;
  font-size: 15px;
  line-height: 123%;
  color: #666666;
}
.pop-up-body > div.info > div > span.title{
  font-weight: bold;
  margin-bottom:  11px;
}
.pop-up-body > p{
  font-weight: 300;
  font-size: var(--text);
  line-height: 176%;
  color: var(--main-text-color);
  margin-top: 20px;
}
.pop-up-body a{
  text-decoration-line: underline;
  color: #9B51E0;
  cursor: pointer;
}
.pop-up > span{
  position: fixed;
  top: -12px;
  right: 33px;
  font-weight: 300;
  font-size: 72px;
  line-height: 176%;
  color: rgba(255, 255, 255, 0.29);
  transform: rotate(45deg);
  cursor:pointer;
}
.pop-up > span:hover{
  color: rgba(255, 255, 255, 0.6);
}
.pop-up-right-body{
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 77%;
  height: 100vh;
  background: white;
}
.pop-up-right-body > ul{
  list-style: none;
  padding: 0;
  margin-top: 25px;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}
.pop-up-right-body > ul > li{
  padding: 0 35px;
}
.pop-up-right-body > button{
  position: absolute;
  left: 12%;
  bottom: 31px;
  box-sizing: border-box;
  width: 76%;
  height: 45px;
  background: #9B51E0;
  border-radius: 6px;
  border-style: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 10px;
  color:white;
}
.pop-up-right-body[class*=visible]{
  visibility: visible;
}

/* Responsive rules */
@media screen and (min-width: 376px){
  .header .menu .menu-icon{
    display: none;
  }
  .header, .footer{
    padding: 0 50px;
  }
  main{
    padding: 55px 206px;
  }
  .header {
    height: 75px;
  }

  button.filter{
    width: 190px;
  }

  .header > .menu > ul{
    display: flex;
    flex-direction: row;
  }
 
  .mobile-true, .desktop-false{
    display: none;
  }
  .mobile-false, .desktop-true{
    display: initial;
  }

  button.filter > ul{
    width: 190px;
  }
  button.filter[class~="opened"] > ul{
    top: 70px;
  }

  .grid{
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 36px;
    margin: 50px 0;
  }

  .to-top-button{
    height: 180px;
  }

  :root{

    --h0: 64px;
    --h1: 48px;
    --caption: 46px;
    --header: 18px;
    --text: 18px;
    --subhead: 16px;
    --h2: 40px;
    --h3: 28px;
    --ind1: 18px;
  
  }

}

@media screen and (max-width: 375px){
  .header, .footer, main{
    padding: 0 16px;
  }
  main{
    padding-top: 25px;
  }
  .header .logo > img{
    width: 25px;
  }
  .header {
    position: sticky;
    top:0;
    z-index: 9999;
    background: white;
  }
  .header > .menu > ul{
    display: none;
  }
  .header {
    height: 64px;
  }

  button.filter{
    width: 100%;
  }
  
  .mobile-true, .desktop-false{
    display: initial;
  }
  .mobile-false, .desktop-true{
    display:none;
  }

  button.filter > ul{
    width: 100%;
  }
  button.filter[class~="opened"] > ul{
    top: 60px;
  }

  .grid{
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin: 17px 0;
  }
  
  .to-top-button{
    height: 130px;
    padding-bottom: 16px;
  }

  .pop-up-container{
  }
  .pop-up-body{
    border-radius: 0;
    padding:  18px 16px;
    box-sizing: border-box;
    max-width: 375px;
    margin: 0 0;
  }
  .pop-up-body > :first-child{
    max-width: 300px;
  }
  .pop-up > .close-icon{
    top:24px;
  }
  .pop-up > .close-icon svg{
    width: 22px;
  }
  .pop-up > .close-icon  path{
    fill : black;
  }
  
  :root{
    --h0: 36px;
    --h1: 24px;
    --caption: 24px;
    --header: 14px;
    --text: 16px;
    --subhead: 16px;
    --h2: 20px;
    --h3: 24px;
    --ind1: 18px;
  }
}

/* Custom rules */

form{
  width: 100%;
  max-width: 600px;
  display:flex;
  flex-direction: column;
  align-self: center;
}
form  label, form   input, form   textarea{
  display: block;
  margin-top:12px;
  box-sizing: border-box;
}
form  label{
  font-weight: 600;
  font-size: var(--header);
  line-height: 18px;
  margin-top:17px;
}
form  input{
  font-weight: normal;
  font-size: var(--subhead);
  line-height: 20px;
  padding: 12px 16px;
  border-radius:6px;
  border:none;
  background: #F3F3F4;
  width:100%;
}
form  input[type=submit]{
  align-self: flex-start;
  font-weight: bold;
  background: #9B51E0;
  color: white;
  width: unset;
  margin:0;
  cursor:pointer;
}
form  textarea{
  font-weight: normal;
  font-size: var(--subhead);
  line-height: 20px;
  padding: 12px 16px;
  border-radius:6px;
  border:none;
  background: #F3F3F4;
  width:100%;
  height: 160px;
  resize: none;
  outline: none;
}
form > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}
form > div > span{
  margin-left: 19px;
  font-style: normal;
  font-weight: 300;
  font-size: var(--header);
  line-height: 176%;
}
form > div > span > a{
  margin-left: 10px;
  color: #9B51E0;
}

button.filter{
  display: flex;
  overflow: hidden;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 10px;
  height: 50px;
  padding: 0 25px;
  transition-duration: 0.25s;
  cursor: pointer;
  outline: none;
}
button.filter > ul{
  opacity: 0;
  position: absolute;
  top: 90px;
  left: -1px;
  padding: 15px 0;
  list-style: none;
  background: white;
  z-index: 999;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  font-weight: 600;
  font-size: var(--subhead);
  line-height: 221.5%;
  text-align: left;
  color: #ACACAC;
  transition-duration: 0.25s;
}
button.filter > span{
  font-weight: 600;
  font-size: var(--subhead);
  line-height: 176%;
}
button.filter > img{
  transition-duration: 0.25s;
}
button.filter > ul > li{
  padding: 0 25px;
}
button.filter > ul > li:hover{
  background: #F5F5F5;
}
button.filter > ul > li.selected{
  color: black;
}
button.filter[class~="opened"]{
  background: #F5F5F5;
  overflow: visible;
}
button.filter[class~="opened"] > ul{
  opacity: 1;
}
button.filter[class~="opened"] > img{
  transform: rotate(180deg); 
}