*{
    margin: 0;
    font-family: Segoe UI;  
}

header.mainHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% - 100px);
    padding: 0 50px;
    height: 75px;
    border-bottom: 1px solid #DEDEDE;
}

footer.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% - 100px);
    padding: 0 50px;
    height: 75px;
    border-top: 1px solid #DEDEDE;

    
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}

div.logo{
    display: flex;
    align-items: center;
}
div.logo span{
    padding-left: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

div.links a{
    padding-left:30px;
    color: #ACACAC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 123%;
}

div.links a.current{
    color: #000000;
}

main{
    padding: 75px 205px 0 205px;
    display: flex;
    flex-direction: column;
}

main p.headline{
    font-weight: bold;
    font-size: 64px;
    line-height: 123%;
}
main span.subheadline{
    font-weight: 300;
    font-size: 48px;
    line-height: 176%;
    padding-right: 50px;
}

main img.logos{
    padding-right: 25px;
}

div.sort{
    display: flex;
    justify-content: flex-end;
}

div.sort button{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 10px;
    width: 190px;
    height: 50px;
    padding: 0 25px;

    outline: none;
}

div.sort button span{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 176%;  
}

ul.sortList{
    display: none;
    position: absolute;
    margin-top: 110px;
    margin-left: -25px;
    padding: 15px 25px;
    width: 190px;
    list-style: none;
    background: white;
    z-index: 999;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 221.5%;
    text-align: left;
}

div.sort ul.opened{
    display: initial;
}

ol.grid{
    margin: 75px 0;
    display: grid;
    align-self: flex-end;
    width: 100%;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 36px;
}

li.item{
    overflow: hidden;
    padding-bottom: 75%;
    height: 0;
    position: relative;
    border-radius: 10px;
}

li.item img{
    width: 100%;
}

li.item div.hover{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    height: calc(100% - 90px);
    padding: 45px 50px;
    flex-direction: column;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    transition-duration: 0.25s;
}

li.item:hover div.hover{
    opacity: 1;
}

div.hover span.headline{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
    line-height: 128.51%;
}

div.hover span.tags{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 123%;
}

div.backToTop{
    width: 100%;
    height: 180px;
    
    font-weight: 350;
    font-size: 18px;
    line-height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;


    color: #666666;
}